--
-- PostgreSQL database dump
--

\restrict v1psZVOKhsWyXKvpzpA1ZdgNYtkt7UUfatc0JDFumIlB668kRUhnp5Vxu4fTIEz

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: CommandStatus; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."CommandStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'DONE',
    'ERROR'
);


ALTER TYPE public."CommandStatus" OWNER TO erp_user;

--
-- Name: CommandType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."CommandType" AS ENUM (
    'SYNC_MEMBERSHIP',
    'DELETE_USER',
    'SYNC_FACE',
    'SYNC_USER_FULL'
);


ALTER TYPE public."CommandType" OWNER TO erp_user;

--
-- Name: DeviceStatus; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."DeviceStatus" AS ENUM (
    'CONNECTED',
    'DISCONNECTED'
);


ALTER TYPE public."DeviceStatus" OWNER TO erp_user;

--
-- Name: DeviceType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."DeviceType" AS ENUM (
    'ACCESS_CONTROL',
    'CAMERA',
    'BIOMETRIC'
);


ALTER TYPE public."DeviceType" OWNER TO erp_user;

--
-- Name: InventoryMovementType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."InventoryMovementType" AS ENUM (
    'INITIAL_STOCK',
    'PURCHASE',
    'SALE',
    'ADJUSTMENT_IN',
    'ADJUSTMENT_OUT'
);


ALTER TYPE public."InventoryMovementType" OWNER TO erp_user;

--
-- Name: MembershipStatus; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."MembershipStatus" AS ENUM (
    'ACTIVE',
    'EXPIRED',
    'ANNULLED'
);


ALTER TYPE public."MembershipStatus" OWNER TO erp_user;

--
-- Name: PartnerType; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."PartnerType" AS ENUM (
    'CUSTOMER',
    'SUPPLIER'
);


ALTER TYPE public."PartnerType" OWNER TO erp_user;

--
-- Name: RoleScope; Type: TYPE; Schema: public; Owner: erp_user
--

CREATE TYPE public."RoleScope" AS ENUM (
    'SYSTEM',
    'TENANT'
);


ALTER TYPE public."RoleScope" OWNER TO erp_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Agent; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Agent" (
    id text NOT NULL,
    name text NOT NULL,
    "agentKey" text NOT NULL,
    "companyId" text NOT NULL,
    "branchId" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastSeenAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "publicIp" text
);


ALTER TABLE public."Agent" OWNER TO erp_user;

--
-- Name: Branch; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Branch" (
    id text NOT NULL,
    name text NOT NULL,
    "companyId" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Branch" OWNER TO erp_user;

--
-- Name: Command; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Command" (
    id text NOT NULL,
    payload jsonb NOT NULL,
    "companyId" text NOT NULL,
    "branchId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "executedAt" timestamp(3) without time zone,
    error text,
    attempts integer DEFAULT 0 NOT NULL,
    type public."CommandType" NOT NULL,
    status public."CommandStatus" DEFAULT 'PENDING'::public."CommandStatus" NOT NULL,
    "membershipSaleId" text
);


ALTER TABLE public."Command" OWNER TO erp_user;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Company" (
    id text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "logoUrl" text
);


ALTER TABLE public."Company" OWNER TO erp_user;

--
-- Name: CompanyPermission; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."CompanyPermission" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    "permissionId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CompanyPermission" OWNER TO erp_user;

--
-- Name: CustomerMembership; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."CustomerMembership" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "companyId" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    status public."MembershipStatus" DEFAULT 'ACTIVE'::public."MembershipStatus" NOT NULL,
    "hikvisionUserId" text,
    "deletedFromDevice" boolean DEFAULT false NOT NULL,
    "lastSyncAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "branchId" text NOT NULL
);


ALTER TABLE public."CustomerMembership" OWNER TO erp_user;

--
-- Name: Device; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Device" (
    id text NOT NULL,
    name text NOT NULL,
    ip text NOT NULL,
    port integer,
    username text,
    password text,
    "deviceType" public."DeviceType" NOT NULL,
    brand text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "companyId" text NOT NULL,
    "branchId" text NOT NULL,
    "agentId" text,
    "lastSeenAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastConnectionAt" timestamp(3) without time zone,
    status public."DeviceStatus" DEFAULT 'DISCONNECTED'::public."DeviceStatus" NOT NULL
);


ALTER TABLE public."Device" OWNER TO erp_user;

--
-- Name: InventoryMovement; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."InventoryMovement" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    "branchId" text NOT NULL,
    "productId" text NOT NULL,
    type public."InventoryMovementType" NOT NULL,
    quantity numeric(10,2) NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."InventoryMovement" OWNER TO erp_user;

--
-- Name: MembershipSale; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."MembershipSale" (
    id text NOT NULL,
    "partnerId" text NOT NULL,
    "planId" text NOT NULL,
    "companyId" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    status public."MembershipStatus" DEFAULT 'ACTIVE'::public."MembershipStatus" NOT NULL,
    price numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "saleDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text,
    "branchId" text
);


ALTER TABLE public."MembershipSale" OWNER TO erp_user;

--
-- Name: Partner; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Partner" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    type public."PartnerType" NOT NULL,
    name text NOT NULL,
    document text,
    phone text,
    email text,
    address text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "imageUrl" text
);


ALTER TABLE public."Partner" OWNER TO erp_user;

--
-- Name: Permission; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Permission" (
    id text NOT NULL,
    code text NOT NULL,
    description text,
    scope public."RoleScope" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Permission" OWNER TO erp_user;

--
-- Name: Plan; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Plan" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    price numeric(65,30) NOT NULL,
    "durationDays" integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "companyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Plan" OWNER TO erp_user;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    "branchId" text,
    "productCategoryId" text,
    code text,
    name text NOT NULL,
    description text,
    "costPrice" numeric(10,2),
    "salePrice" numeric(10,2) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO erp_user;

--
-- Name: ProductCategory; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."ProductCategory" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductCategory" OWNER TO erp_user;

--
-- Name: Role; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."Role" (
    id text NOT NULL,
    name text NOT NULL,
    scope public."RoleScope" NOT NULL,
    "companyId" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Role" OWNER TO erp_user;

--
-- Name: RolePermission; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."RolePermission" (
    id text NOT NULL,
    "roleId" text NOT NULL,
    "permissionId" text NOT NULL
);


ALTER TABLE public."RolePermission" OWNER TO erp_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "fullName" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "companyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "branchId" text NOT NULL,
    "isOwner" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."User" OWNER TO erp_user;

--
-- Name: UserRole; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public."UserRole" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "roleId" text NOT NULL,
    "companyId" text
);


ALTER TABLE public."UserRole" OWNER TO erp_user;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO erp_user;

--
-- Data for Name: Agent; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Agent" (id, name, "agentKey", "companyId", "branchId", "isActive", "lastSeenAt", "createdAt", "updatedAt", "publicIp") FROM stdin;
\.


--
-- Data for Name: Branch; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Branch" (id, name, "companyId", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: Command; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Command" (id, payload, "companyId", "branchId", "createdAt", "executedAt", error, attempts, type, status, "membershipSaleId") FROM stdin;
\.


--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Company" (id, name, "isActive", "createdAt", "updatedAt", "logoUrl") FROM stdin;
\.


--
-- Data for Name: CompanyPermission; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."CompanyPermission" (id, "companyId", "permissionId", "createdAt") FROM stdin;
\.


--
-- Data for Name: CustomerMembership; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."CustomerMembership" (id, "customerId", "companyId", "startDate", "endDate", status, "hikvisionUserId", "deletedFromDevice", "lastSyncAt", "createdAt", "updatedAt", "branchId") FROM stdin;
\.


--
-- Data for Name: Device; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Device" (id, name, ip, port, username, password, "deviceType", brand, "isActive", "companyId", "branchId", "agentId", "lastSeenAt", "createdAt", "updatedAt", "lastConnectionAt", status) FROM stdin;
\.


--
-- Data for Name: InventoryMovement; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."InventoryMovement" (id, "companyId", "branchId", "productId", type, quantity, notes, "createdAt") FROM stdin;
\.


--
-- Data for Name: MembershipSale; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."MembershipSale" (id, "partnerId", "planId", "companyId", "startDate", "endDate", status, price, "createdAt", "saleDate", "userId", "branchId") FROM stdin;
\.


--
-- Data for Name: Partner; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Partner" (id, "companyId", type, name, document, phone, email, address, "isActive", "createdAt", "imageUrl") FROM stdin;
\.


--
-- Data for Name: Permission; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Permission" (id, code, description, scope, "isActive") FROM stdin;
\.


--
-- Data for Name: Plan; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Plan" (id, name, description, price, "durationDays", "isActive", "companyId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Product" (id, "companyId", "branchId", "productCategoryId", code, name, description, "costPrice", "salePrice", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ProductCategory; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."ProductCategory" (id, "companyId", name, description, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."Role" (id, name, scope, "companyId", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: RolePermission; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."RolePermission" (id, "roleId", "permissionId") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."User" (id, email, password, "fullName", "isActive", "companyId", "createdAt", "updatedAt", "branchId", "isOwner") FROM stdin;
\.


--
-- Data for Name: UserRole; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public."UserRole" (id, "userId", "roleId", "companyId") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Name: Agent Agent_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Agent"
    ADD CONSTRAINT "Agent_pkey" PRIMARY KEY (id);


--
-- Name: Branch Branch_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_pkey" PRIMARY KEY (id);


--
-- Name: Command Command_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Command"
    ADD CONSTRAINT "Command_pkey" PRIMARY KEY (id);


--
-- Name: CompanyPermission CompanyPermission_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CompanyPermission"
    ADD CONSTRAINT "CompanyPermission_pkey" PRIMARY KEY (id);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: CustomerMembership CustomerMembership_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CustomerMembership"
    ADD CONSTRAINT "CustomerMembership_pkey" PRIMARY KEY (id);


--
-- Name: Device Device_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Device"
    ADD CONSTRAINT "Device_pkey" PRIMARY KEY (id);


--
-- Name: InventoryMovement InventoryMovement_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."InventoryMovement"
    ADD CONSTRAINT "InventoryMovement_pkey" PRIMARY KEY (id);


--
-- Name: MembershipSale MembershipSale_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."MembershipSale"
    ADD CONSTRAINT "MembershipSale_pkey" PRIMARY KEY (id);


--
-- Name: Partner Partner_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Partner"
    ADD CONSTRAINT "Partner_pkey" PRIMARY KEY (id);


--
-- Name: Permission Permission_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Permission"
    ADD CONSTRAINT "Permission_pkey" PRIMARY KEY (id);


--
-- Name: Plan Plan_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_pkey" PRIMARY KEY (id);


--
-- Name: ProductCategory ProductCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."ProductCategory"
    ADD CONSTRAINT "ProductCategory_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: RolePermission RolePermission_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_pkey" PRIMARY KEY (id);


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: UserRole UserRole_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Agent_agentKey_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Agent_agentKey_key" ON public."Agent" USING btree ("agentKey");


--
-- Name: Agent_branchId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Agent_branchId_idx" ON public."Agent" USING btree ("branchId");


--
-- Name: Agent_branchId_name_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Agent_branchId_name_key" ON public."Agent" USING btree ("branchId", name);


--
-- Name: Agent_companyId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Agent_companyId_idx" ON public."Agent" USING btree ("companyId");


--
-- Name: Agent_publicIp_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Agent_publicIp_idx" ON public."Agent" USING btree ("publicIp");


--
-- Name: Branch_name_companyId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Branch_name_companyId_key" ON public."Branch" USING btree (name, "companyId");


--
-- Name: Command_branchId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Command_branchId_idx" ON public."Command" USING btree ("branchId");


--
-- Name: Command_branchId_status_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Command_branchId_status_idx" ON public."Command" USING btree ("branchId", status);


--
-- Name: Command_companyId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Command_companyId_idx" ON public."Command" USING btree ("companyId");


--
-- Name: Command_membershipSaleId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Command_membershipSaleId_idx" ON public."Command" USING btree ("membershipSaleId");


--
-- Name: Command_status_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Command_status_idx" ON public."Command" USING btree (status);


--
-- Name: CompanyPermission_companyId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "CompanyPermission_companyId_idx" ON public."CompanyPermission" USING btree ("companyId");


--
-- Name: CompanyPermission_companyId_permissionId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "CompanyPermission_companyId_permissionId_key" ON public."CompanyPermission" USING btree ("companyId", "permissionId");


--
-- Name: CompanyPermission_permissionId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "CompanyPermission_permissionId_idx" ON public."CompanyPermission" USING btree ("permissionId");


--
-- Name: Company_name_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Company_name_key" ON public."Company" USING btree (name);


--
-- Name: CustomerMembership_customerId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "CustomerMembership_customerId_key" ON public."CustomerMembership" USING btree ("customerId");


--
-- Name: CustomerMembership_endDate_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "CustomerMembership_endDate_idx" ON public."CustomerMembership" USING btree ("endDate");


--
-- Name: Device_branchId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Device_branchId_idx" ON public."Device" USING btree ("branchId");


--
-- Name: Device_branchId_ip_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Device_branchId_ip_key" ON public."Device" USING btree ("branchId", ip);


--
-- Name: Device_companyId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Device_companyId_idx" ON public."Device" USING btree ("companyId");


--
-- Name: InventoryMovement_branchId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "InventoryMovement_branchId_idx" ON public."InventoryMovement" USING btree ("branchId");


--
-- Name: InventoryMovement_companyId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "InventoryMovement_companyId_idx" ON public."InventoryMovement" USING btree ("companyId");


--
-- Name: InventoryMovement_productId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "InventoryMovement_productId_idx" ON public."InventoryMovement" USING btree ("productId");


--
-- Name: MembershipSale_endDate_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "MembershipSale_endDate_idx" ON public."MembershipSale" USING btree ("endDate");


--
-- Name: MembershipSale_partnerId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "MembershipSale_partnerId_idx" ON public."MembershipSale" USING btree ("partnerId");


--
-- Name: Partner_companyId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Partner_companyId_idx" ON public."Partner" USING btree ("companyId");


--
-- Name: Permission_code_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Permission_code_key" ON public."Permission" USING btree (code);


--
-- Name: Plan_name_companyId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Plan_name_companyId_key" ON public."Plan" USING btree (name, "companyId");


--
-- Name: ProductCategory_companyId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "ProductCategory_companyId_idx" ON public."ProductCategory" USING btree ("companyId");


--
-- Name: Product_branchId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Product_branchId_idx" ON public."Product" USING btree ("branchId");


--
-- Name: Product_companyId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Product_companyId_idx" ON public."Product" USING btree ("companyId");


--
-- Name: Product_productCategoryId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "Product_productCategoryId_idx" ON public."Product" USING btree ("productCategoryId");


--
-- Name: RolePermission_roleId_permissionId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "RolePermission_roleId_permissionId_key" ON public."RolePermission" USING btree ("roleId", "permissionId");


--
-- Name: Role_name_scope_companyId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "Role_name_scope_companyId_key" ON public."Role" USING btree (name, scope, "companyId");


--
-- Name: UserRole_userId_roleId_companyId_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "UserRole_userId_roleId_companyId_key" ON public."UserRole" USING btree ("userId", "roleId", "companyId");


--
-- Name: User_branchId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "User_branchId_idx" ON public."User" USING btree ("branchId");


--
-- Name: User_companyId_idx; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX "User_companyId_idx" ON public."User" USING btree ("companyId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Agent Agent_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Agent"
    ADD CONSTRAINT "Agent_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Agent Agent_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Agent"
    ADD CONSTRAINT "Agent_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Branch Branch_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Command Command_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Command"
    ADD CONSTRAINT "Command_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Command Command_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Command"
    ADD CONSTRAINT "Command_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Command Command_membershipSaleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Command"
    ADD CONSTRAINT "Command_membershipSaleId_fkey" FOREIGN KEY ("membershipSaleId") REFERENCES public."MembershipSale"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CompanyPermission CompanyPermission_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CompanyPermission"
    ADD CONSTRAINT "CompanyPermission_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CompanyPermission CompanyPermission_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CompanyPermission"
    ADD CONSTRAINT "CompanyPermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public."Permission"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CustomerMembership CustomerMembership_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CustomerMembership"
    ADD CONSTRAINT "CustomerMembership_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CustomerMembership CustomerMembership_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CustomerMembership"
    ADD CONSTRAINT "CustomerMembership_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CustomerMembership CustomerMembership_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."CustomerMembership"
    ADD CONSTRAINT "CustomerMembership_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Partner"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Device Device_agentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Device"
    ADD CONSTRAINT "Device_agentId_fkey" FOREIGN KEY ("agentId") REFERENCES public."Agent"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Device Device_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Device"
    ADD CONSTRAINT "Device_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Device Device_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Device"
    ADD CONSTRAINT "Device_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: InventoryMovement InventoryMovement_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."InventoryMovement"
    ADD CONSTRAINT "InventoryMovement_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: InventoryMovement InventoryMovement_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."InventoryMovement"
    ADD CONSTRAINT "InventoryMovement_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: InventoryMovement InventoryMovement_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."InventoryMovement"
    ADD CONSTRAINT "InventoryMovement_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MembershipSale MembershipSale_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."MembershipSale"
    ADD CONSTRAINT "MembershipSale_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MembershipSale MembershipSale_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."MembershipSale"
    ADD CONSTRAINT "MembershipSale_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MembershipSale MembershipSale_partnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."MembershipSale"
    ADD CONSTRAINT "MembershipSale_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES public."Partner"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MembershipSale MembershipSale_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."MembershipSale"
    ADD CONSTRAINT "MembershipSale_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."Plan"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MembershipSale MembershipSale_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."MembershipSale"
    ADD CONSTRAINT "MembershipSale_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Partner Partner_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Partner"
    ADD CONSTRAINT "Partner_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Plan Plan_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProductCategory ProductCategory_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."ProductCategory"
    ADD CONSTRAINT "ProductCategory_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Product Product_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Product Product_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Product Product_productCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_productCategoryId_fkey" FOREIGN KEY ("productCategoryId") REFERENCES public."ProductCategory"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RolePermission RolePermission_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public."Permission"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RolePermission RolePermission_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Role Role_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserRole UserRole_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserRole UserRole_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserRole UserRole_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict v1psZVOKhsWyXKvpzpA1ZdgNYtkt7UUfatc0JDFumIlB668kRUhnp5Vxu4fTIEz

